@import "../scss/reset.scss";
@import "../scss/global.scss";
@import "../scss/components/buttons.scss";
@import "../scss/components/ProgressStepper.scss";
@import "../scss/components/options.scss";


/* Content */

.content {
  margin: 12px 0 16px;
  &__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 12px 0;
  }
    &__details {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    color: rgba(66, 66, 66, 1);
    margin: -6px 0 12px 0;
  }
  &__well {
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    gap: 6px;
    border-radius: 4px;
    padding: 6px;
    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
    ul {
      margin-left: 20px;
      li{
        position: relative;
        &::before {
        position: absolute;
        content: "";
        height:3px;
        width: 3px;
        background-color: #242424;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        border-radius: 50%;
      }
      &::marker {
        font-size: 1px;
        z-index: -1;
      }
    }
    }
  }
}


/* Hidden utility */
.hidden {
  display: none;
}