@use '../abstracts';
@use '../base';

/* Modal Block */
// BEM BLOCK: MODAL
.modal {
  width: 420px;
  min-height: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 16px 0px 16px;
  color: #242424;
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  position: relative;

  // Pseudo-element for the backdrop
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  // ELEMENT: HEADER
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    min-height: 40px;
  }

  // ELEMENT: TITLE
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #242424;
  }

  // ELEMENT: CLOSE BUTTON
  &__close {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    color: rgba(36, 36, 36, 1);
  }

  &__progress-stepper {
    margin-bottom: 12px;
  }

  // ELEMENT: CONTENT
  &__content {
    margin-bottom: 16px;
  }

  // ELEMENT: FOOTER
  &__footer {
    //display: flex;
     display: grid;
       grid-template-columns: 1fr; // Single column that takes full width
  grid-auto-flow: column; // Buttons flow horizontally
  grid-auto-columns: max-content; // Buttons only take the space they need
    align-items: center;
    gap: 12px;
    min-height: 52px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 420px;
      height: 1px;
      border-top: 1px solid #e0e0e0;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
