/* Options Component */
.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  // ELEMENT: item
  &__item {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid $border-light;
    border-radius: 4px;
    cursor: pointer;
    background-color: $modal-bg;
    height: 36px;
    gap: 8px;
    position: relative;

    &:hover {
      border-color: $border-hover;
      background-color: $bg-light;
      -moz-box-shadow: 0 0 0 0 $text-blue;
      -webkit-box-shadow: 0 0 0 0 $text-blue;
      box-shadow: 0 0 0 0 $text-blue;
    }

    // MODIFIER: selected
    &--selected {
      background-color: $bg-selected;
      border: 1px solid $text-blue;
      -moz-box-shadow: 0 0 0 1px $text-blue;
      -webkit-box-shadow: 0 0 0 1px $text-blue;
      box-shadow: 0 0 0 1px $text-blue;


      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // ELEMENT: icon
  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $text-primary;
    flex-shrink: 0; // Prevent icon from shrinking
  }

  // ELEMENT: text
  &__text {
    color: $text-primary;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    flex: 1; // Take remaining space
  }

  &__check-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    input[type="checkbox"]{
     
      position: relative;
      &:checked {

      }
    }
  }
}